body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8dc54a;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Lugrasimo', cursive;
}

 h1 {
      font-size: 20px;
      width: 150px;
      margin: 0 auto;
      margin-top: 20px;
      color: green;
      text-decoration: none;
      border-radius: 10px;
      padding: 10px 20px; /* Añado padding para que el fondo tenga espacio alrededor del texto */
}
.ref {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}


.ref a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: green;
    /* background-color: rgb(135, 225, 135); */
    border-radius: 5px;
   
}

.ref a:hover {
    background-color: white;
}

.contenedor {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.imagenes {
    
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: center;
}

.imagenes a {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-decoration: none;
    color: #333;
}

.imagenes img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.imagenes h2 {
    margin-top: 10px;
    font-size: 16px;
    color: white;
    /* background-color: #BFCED8; */
}

button {
    display: none;
}

.nota {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    color: green;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    margin-right: 20px; /* Añadimos un margen a la derecha para desplazar la nota hacia la derecha */
}

.nota strong {
    font-weight: bold;
}
.reproductor-lista{
    color: green;
}
#animales{
    color: green;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    text-decoration: none;
      border-radius: 10px;
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    
}
#letras{
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#numeros{
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

